
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// @tailwind base;
// @tailwind components;
// @tailwind utilities;


@import './settings';
@import './pages/home';
@import './pages/about';
@import './pages/error404';
@import './pages/logement';
@import './components/navbar.scss';
@import './components/footer.scss';
@import './components/card.scss';
@import './components/banner.scss';
