.about{
    padding-top: 150px;
    text-align: center;
    .callapses{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;    
    }
}