.card{
        width: 340px;
        height: 340px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        transition: all 0.5s 0s ease;
    }

    img{
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(50%);
    }
    h1{
        position: relative;
        top: -75px;
        left: 15px;
        max-width: 300px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
    }
}