.footer{
    background: black;
    height: 209px;
    max-width: 1440px;
    margin: auto;
    &__container{
        padding-top: 66px;
        height: 100%;
    }
    img{
        height: 39.444419860839844px;
        width: 122px;
        display: flex;
        margin: auto;
    }
    p{
        color: white;
        font-family: $font-1;
        font-size: 24px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        position: relative;
        top:46px;
    }
}