.header{
    position: fixed;
    top:40px;
    width: 100%;
    &::after{
        content: "";
        position: absolute;
        height: 148px;
        width: 110%;
        left: -20px;
        top:-40px;
        background: white;
        z-index: -8;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        height: 68px;
        max-width: 1240px;
        padding: 0 100px;
    }
    img{
        left: 0%;
        right: 83.04%;
        top: 0%;
        bottom: 0%;
    }
    nav{
        display: flex;
        align-items: center;
        li{
            padding-left: 58px;
        }
    }
}